Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env
.env.local
.env.production
.env.development
.vercel
build/
dist/
coverage/
cypress/
cypress.json
test/
tests/
__tests__/
**/__tests__/**
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
